# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\存这里\CS 5004\Animator\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
